{% extends 'auth_app/basic.html' %}
{% load static %}
{% load myfilter %}

{% block title %}
login 
{% endblock title %}

{% block css %}
 <style>
    body{
        background-color: aqua;
    }
    .errorlist{
        color: #f51414;
    }
    .register-form{
        width: 100%;
        max-width: 500px;
        margin: auto;
        margin-top: 40px;
        padding: 20px;
        background-color: rgb(1, 9, 15);
        color: antiquewhite;
        border-top: #2c08f7;
        border-radius: 5px;
    }
    .mainheading{
        text-align: center;
    }
    /* .main-area{
        display: flex;
        align-items: center;
        /* background-color: aqua; */
    /* } */ 
 </style>
{% endblock css %}

{% block body %}
<div class="container my-5 main-area "  >
    <div class="register-form">
    <form method="post" >
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        {{ form.non_field_erros }}
        <h2 class="mainheading" >Crypto Lover User</h2>
        <h4 class="mainheading" >Login Form</h4>
        <label for="id_usernsme" class="login-labels my-2">User Name*</label>
        {{ form.username.errors }}
        {{ form.username|addclass:'form-control' |addplaceholder:'Enter User Name*'}}
       
        <label for="id_password1" class="login-labels my-2">Password*</label>
        {{ form.password.errors }}
        {{ form.password|addclass:'form-control' |addplaceholder:'Enter Password*'}}
       
        <button type="submit" class="btn btn-primary my-2">Login</button>
    </form>
    <a href="{% url 'preset' %}">Forget Password</a>
    {% if messages %}
        <ul>
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
         
            {% endfor %}
        </ul>
        {% endif %}
</div>
</div>

{% endblock body %}